<div class="app-container">
  <div class="header">
    <div class="title">Title</div>
    <div class="form-name">Form Name</div>
    <div class="action-center">
      <div class="avatar">
        <p-avatar label="A" shape="circle"></p-avatar>
      </div>
    </div>
  </div>
  <div class="nav-bar">
    <div class="nav-grp">
      <div class="nav-item">Survey Form</div>
      <div class="nav-item">Transcript</div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>