input[type="text"], input[type=password],input[type=email],
textarea {
    width: 100%;
    padding: 5px 10px;
    border-radius: 0px;
    border: 1px solid #ccc;
}

textarea{
    font-family: Arial;
}

input[type="text"]:focus-visible,input[type=password]:focus-visible,input[type=email]:focus-visible,
textarea:focus-visible {
    outline: none;
    border: 1px solid #34808f;
}