.p-dataview .p-dataview-content {
    background-color: transparent !important;
}

.p-grid.p-nogutter.grid.grid-nogutter div {
    background-color: #fff;
    margin: 10px;
    padding: 5px;
    color: #53565a;
}

.p-paginator{
    padding: 0!important;
}