.p-inputswitch.p-component {
    height: 20px;
    width: 42px;
    margin: 0px 10px;

    .p-inputswitch-slider:before {
        width: 20px;
        height: 20px;
        left: 1px;
        right: 1px;
    }

    &.p-focus .p-inputswitch-slider{
        box-shadow: none;
    }

    &.p-inputswitch-checked .p-inputswitch-slider {
        background: #34808f !important;
    }
}
