.signup-form{
    border-left: 4px solid #34808f;
    border-radius: 10px;
    overflow: hidden;

    .heading{
        margin-left: 40%;
        font-size: 2rem;
    }

    .form-group{
        padding: 10px 15px;
        background-color: #34808f1f;

        .in{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
           
          }
          .error-input{
            border-color: red;
          }
          .msg{
            color: red;
            font-size: small;
          }
          input[type=submit],input[type=reset]{
            width: 30%;
            padding: 12px;
            margin-left: 15%;
            box-sizing: border-box;
            color:wheat;
            background: rgb(15, 154, 235);
            border-radius: 10%;
            font-size: larger;
          }

    }
}