.signup-container {
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .signup-form{
    border-color: #34808f;
    border-radius: 10px;
    border-width: 0px 4px;
    border-style: solid;
    margin: 0px 15px;
    
    .heading{
      font-size: 36px;
      font-weight: 700;
      margin: 10px 10px;
    }
    
    .form-group{
      padding: 10px 15px;
      background-color: #34808f1f;
      
      .in{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        
      }
      .error-input{
        border-color: #e54343;
      }
      .no-error{
        border-color: green;
      }
      .msg{
        color: #e54343;
        font-size: small;
      }
      input[type=submit],input[type=reset]{
        width: 30%;
        padding: 12px;
        margin-left: 15%;
        box-sizing: border-box;
        color:wheat;
        background: rgb(15, 154, 235);
        border-radius: 10%;
        font-size: larger;
      }
      
    }
  }
}