<div class="app-container">
    <div class="header">
      <div class="logo">
        <img src="https://www.iiit.ac.in/img/iiit-new.png" alt="Logo" />
        <!-- <img src="assets/images/iiit-new.png" alt="Logo" /> -->
      </div>
      <div class="title">Survey Builder</div>
      <div class="action-center">
        <div class="avatar" *ngIf="userLabel">
          <p-avatar [label]="userLabel" shape="circle"></p-avatar>
        </div>
      </div>
    </div>
    <div class="nav-bar">
      <div class="nav-grp">
        <ng-container *ngIf="!isLoggedIn else navbtn">
          <div pRipple class="nav-item" routerLink="signup" routerLinkActive="active" *ngIf="!isLoggedIn">Sign Up</div>
          <div pRipple class="nav-item" routerLink="login" routerLinkActive="active" *ngIf="!isLoggedIn">Login</div>
        </ng-container>
        <ng-template #navbtn>
          <div pRipple class="nav-item" routerLink="form/dashboard" routerLinkActive="active">Dashboard</div>
          <div pRipple class="nav-item" routerLink="form/transcript" routerLinkActive="active">Transcript</div>
        </ng-template>
      </div>
      <div class="action-grp">
        <ng-container *ngIf="showActionGroup">
          <div class="action-item">
            <button pRipple class="btn secondary" (click)="togglePreview()">{{ preview?'Go Back' : 'Preview'}}</button>
          </div>
          <div class="action-item">
            <button pRipple class="btn primary" (click)="publishForm()">Publish</button>
          </div>
        </ng-container>
        <div class="action-item" *ngIf="isLoggedIn">
          <button pRipple class="btn primary" (click)="logoutUser()">Logout</button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>