
.form-title {
    padding: 20px 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;

    .form-control {
        padding: 10px 15px;
    }

    .submit {
        padding: 5px 10px;
        margin-bottom: 30px;
    }
}